@mixin translateSpan {
   top: -0.5px;
   transform: translateY(0%);
   background-color: var(--input-color-background);
   font-size: 0.75rem;
}


.base-select-wrapper {
   position: relative;
   display: block;
   height: 2.5rem;
   --input-color-text: var(--text-dark);
   --input-color-border: var(--color-separator-grey);
   --input-color-border-focus: var(--color-separator-grey);
   --input-color-background: var(--fff);
   --input-color-placeholder: var(--text-dark);

   --input-color-invalid: var(--red-main);

   --option-color-text: var(--text-dark);
   --option-color-background: var(--input-bg-white);

   &>select {
      width: 100%;
      height: 100%;
      outline: none;
      font-family: inherit;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--input-color-border);
      color: var(--input-color-text);
      background-color: var(--input-color-background);

      &>option {
         color: var(--option-color-text);
         background-color: var(--option-color-background);
      }

      // on focus
      &:focus {
         border-color: var(--input-color-border-focus);
      }

      // on autofill
      &:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px var(--input-color-background) inset;
         -webkit-text-fill-color: var(--input-color-text);
         caret-color: var(--input-color-text);
      }

      &+span {
         white-space: nowrap;
         position: absolute;
         top: -0.5px;
         left: 0.625rem;
         font-size: 0.75rem;
         padding: 0 2px;
         line-height: 3px;
         pointer-events: none;
         color: var(--input-color-placeholder);
         background-color: var(--input-color-background);
         margin-right: 5px;
      }

      &::before {
         content: '*';
         color: var(--input-color-invalid);
         opacity: 0.7;
         font-weight: bold;
         padding-right: 1px;
      }

      &:required[value=""]+span::before {
         content: '*';
         color: var(--input-color-invalid);
         opacity: 0.7;
         font-weight: bold;
         padding-right: 2px;
      }

      &.base-input-invalid:not(:focus) {
         border-color: var(--input-color-invalid);
         color: var(--input-color-invalid) !important;

         &:-webkit-autofill {
            color: var(--input-color-invalid) !important;
         }

         &+span {
            color: var(--input-color-invalid);
         }
      }
   }
}